.con123{
    width: 500px;
    margin-top: 300px;
    margin-left: 300px;
    padding:400;
    background-image: url(image/water-droplets-green-leaf-ai-generated-image_511042-690.avif);
    text-decoration-color: white;

}