a.one{
    color: black;
    font-size: 16px;
   
}
.two{
    margin-left: 400px;
}
.three{
    background-image:url("images/banner-01.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 600px;
}
.four{
    color: aliceblue;
    font-size: 50px;
    font-family: 'Roboto',sans-serif !important;
    text-align: center;